.container {
    width: 960px;
    height: 960px;
    border: 2px solid black;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.gridDiv {
    border: 1px solid red;
    box-sizing: border-box;
}